/Aplicacao.class
/Cliente.class
/ExcecaoQuantidadeDeProdutosIrregular.class
/FidelidadeBranco.class
/FidelidadeFeV.class
/FidelidadePrata.class
/FidelidadePreto.class
/IValoravel.class
/Pedido.class
/Produto.class
